<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\123\G8 App.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>g8</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionG8Apps" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=10.10.10.30;initial catalog=G8Apps;user id=sportbookdba;password=lumalu;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionG8Apps_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=10.10.10.30;initial catalog=G8Apps;user id=sportbookdba;password=lumalu;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionDGS" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=10.10.10.30;initial catalog=DGSDATA;user id=sportbookdba;password=lumalu;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionDGS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=10.10.10.30;initial catalog=DGSDATA;user id=sportbookdba;password=lumalu;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Pinnacle" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.10.30; Initial Catalog=PINNACLE; User Id=sportbookdba; Password=lumalu;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Pinnacle_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.10.30; Initial Catalog=PINNACLE; User Id=sportbookdba; Password=lumalu;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DonBest" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.10.46; Initial Catalog=DonBest; User Id=sportbookdba; Password=lumalu;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DonBest_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.10.46; Initial Catalog=DonBest; User Id=sportbookdba; Password=lumalu;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionDGS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionG8Apps-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DonBest-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pinnacle-Web.config Connection String" />
  </ItemGroup>
</Project>